@model IEnumerable<FoodOrderSolution.Data.ViewModels.ListCart>
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <!-- Header  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-header">
        <div class="container-fluid">
            <button type="button" id="sidebarleftbutton" class="btn">
                <i class="fas fa-align-left"></i>
            </button>
            <div class="logo"><a href="/">PHAN HƯNG</a></div>
            <button type="button" id="sidebarrightbutton" class="btn">
                <i class="fas fa-shopping-cart"></i>
            </button>
        </div>
    </nav>
    <!-- .Header  -->
    <!-- Content Wrap  -->
    <div class="content-wrap">


        <div class="list-section">
            <div class="heading-page">
                Giỏ hàng
            </div>
            <div class="wrap-list-rc" id="shop_cart">
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="lrc-item cart-item" style="width:100%;height:auto">
                            <h4>@item.Name</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Hàng hóa</th>
                                        <th>Số lượng</th>
                                        <th>Giá</th>
                                        <th>Thành tiền</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in item.Carts)
                                    {
                                        <tr>
                                            <td>
                                                @p.Name
                                            </td>
                                            <td>
                                                <div class="input-group input-group-spinner" style="display: flex;justify-content: center;margin:10px 0 15px 0">
                                                    <div class="input-group-prepend" style="">
                                                        <button style="min-width: 2.5em;color: #fff;border: none;" onclick="updateCart(@p.ID,@item.ID,0)" class="btn btn-decrement btn-outline-secondary" type="button">
                                                            <i class="fa fa-minus-circle"></i>
                                                        </button>
                                                    </div>
                                                    <input id="n_@p.ID" style="text-align: center;border-radius: 0;border: 1px solid #33333342;width: 90px;padding-left:0 !important;" readonly value="@p.Qty" class="input">
                                                    <div class="input-group-append" style="">
                                                        <button style="min-width: 2.5em;color: #fff;border: none;" onclick="updateCart(@p.ID,@item.ID,1)" class="btn btn-increment btn-outline-secondary" type="button">
                                                            <i class="fa fa-plus-circle"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@String.Format("{0:0,00} vnđ", p.Price)</td>
                                            <td id="p_total_@p.ID">@String.Format("{0:0,00} vnđ", p.Total)</td>
                                            <td><a onclick="removeCart(@p.ID,@item.ID,0)" class="btn btn-danger" style="cursor:pointer;font-size:19px;color:#fff"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" style="text-align: right;font-size: 20px;"><b style="display: inline-block;">Tổng tiền:&nbsp; </b><p id="c_total_@item.ID" style="color: #ff5722;font-weight: bold;display: inline-block;">@String.Format("{0:0,00} vnđ", item.TotalAmount)</p></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    }
                }
            </div>
            <div class="container" style="text-align:right;padding:10px;clear:both">
                <a class="btn btn-danger" href="/thanh-toan.html">Thanh toán</a>
            </div>
        </div>
    </div>
    <!-- .Content wrap  -->
    <!-- Footer  -->
    <div class="footer">
        <div class="footer-heading">Kết nối với chúng tôi</div>
        <div class="socmed">
            <div class="socmed-line">
                <div class="socmed-item">
                    <a href="#" class="si-icon"> <i class="fab fa-facebook-f"></i></a>
                </div>
            </div>

            <div class="socmed-line">
                <div class="socmed-item">
                    <a href="#" class="si-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <div class="socmed-line">
                <div class="socmed-item">
                    <a href="#" class="si-icon"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <div class="socmed-line">
                <div class="socmed-item">
                    <a href="#" class="si-icon"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- .Footer  -->
</div>

